.btn {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    font-size: 1.375rem;
    cursor: pointer;
    text-align: center;
    transition: all 100ms;
}

.btn:active {
    transform: translateY(2%);
    box-shadow: none;
}
