
.saved-memes-container {
    display: block;
    transition: transform 600ms ease-in-out;
    position: absolute;
    transform: translate(-250%);

}

.saved-memes-container.move-screen {
    transition: transform 600ms ease-in-out;
    transform: translate(0);
}


.saved-memes {
    max-height: 550px;
    min-width: 280px;
    overflow-y: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: row;
}

.saved-meme > div {
    scroll-snap-align: start;
}

.saved-memes figure {
    max-width: 300px;
    max-height: 300px;
    transition: all 400ms linear;  
}

.saved-memes img {
    height: 100%;
    width: 100%;
}

.saved-memes p {
    color: rgba(255, 255, 255, 0.957);
    font-size: 1.5rem;
    text-align: center;

}

.saved-memes-container h1 {
    color: rgb(241, 231, 231);
    margin-inline-start: 2rem;
    margin-top: 0;
}

.saved-memes-container h1 span {
    color: rgb(23, 203, 203);
}
