.share-modal {
    position: fixed;
    top: 50%;
    right: 50%;
    color: white;
    transform: translate(1500%);
    flex-direction: column;
    border-radius: 20px;
    font-size: 1.2rem;
    transition: all 750ms ease-in-out;
    background-color: rgb(6, 19, 40);
    outline: 2px solid rgba(255, 255, 255, 0.313);
    z-index: 1;
    font-family: Poppins;
    row-gap: 2rem;
    box-shadow: inset 0 3px 0 1px white,  inset 0 5px 20px 10px rgba(255, 255, 255, 0.089);
}

.share-modal p {
    margin: 2rem;
}

.share-modal a {
    padding: 0.5rem;
    background-color: rgb(42, 50, 165);
    border-radius: 15px;
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.256);
    transition: all 200ms;

}

.share-modal.move-center {
    transition: all 750ms ease-in-out;
    transform: translate(60%, -50%);

}